:root {
    --background: rgb(0, 0, 0);
    --background-box: rgb(75, 75, 75);
    --background-box-lite: rgb(50, 50, 50);
    --text: rgba(255, 255, 255);
    --border: rgb(255, 255, 255);
    --theme-icon: rgb(200, 200, 60);
}

:root[data-light = 'true'] {
    --background: rgb(255, 255, 255);
    --background-box: rgb(200, 200, 200);
    --background-box-lite: rgb(225, 225, 225);
    --text: rgb(0, 0, 0);
    --border: rgb(0, 0, 0);
    --theme-icon: rgb(140, 140, 190);
}

* {
    transition: all 0.5s ease-in-out;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif", "Arial Narrow";	
	font-size: 18pt;
    font-variant: small-caps;
    color: var(--border);
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--background);
    background-image:  linear-gradient(30deg, var(--background-box) 12%, transparent 12.5%, transparent 87%, var(--background-box) 87.5%, var(--background-box)), linear-gradient(150deg, var(--background-box) 12%, transparent 12.5%, transparent 87%, var(--background-box) 87.5%, var(--background-box)), linear-gradient(30deg, var(--background-box) 12%, transparent 12.5%, transparent 87%, var(--background-box) 87.5%, var(--background-box)), linear-gradient(150deg, var(--background-box) 12%, transparent 12.5%, transparent 87%, var(--background-box) 87.5%, var(--background-box)), linear-gradient(60deg, var(--background-box-lite) 25%, transparent 25.5%, transparent 75%, var(--background-box-lite) 75%, var(--background-box-lite)), linear-gradient(60deg, var(--background-box-lite) 25%, transparent 25.5%, transparent 75%, var(--background-box-lite) 75%, var(--background-box-lite));
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.container {
    width: 90%;
    height: 90%;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    border: 2px solid var(--border);
    background-color: var(--background);
    background-image:  linear-gradient(30deg, var(--background-box) 12%, transparent 12.5%, transparent 87%, var(--background-box) 87.5%, var(--background-box)), linear-gradient(150deg, var(--background-box) 12%, transparent 12.5%, transparent 87%, var(--background-box) 87.5%, var(--background-box)), linear-gradient(30deg, var(--background-box) 12%, transparent 12.5%, transparent 87%, var(--background-box) 87.5%, var(--background-box)), linear-gradient(150deg, var(--background-box) 12%, transparent 12.5%, transparent 87%, var(--background-box) 87.5%, var(--background-box)), linear-gradient(60deg, var(--background-box-lite) 25%, transparent 25.5%, transparent 75%, var(--background-box-lite) 75%, var(--background-box-lite)), linear-gradient(60deg, var(--background-box-lite) 25%, transparent 25.5%, transparent 75%, var(--background-box-lite) 75%, var(--background-box-lite));
    background-size: 28px 49px;
    background-position: 0 0, 0 0, 14px 25px, 14px 25px, 0 0, 14px 25px;
}

.content {
    margin: 5vh;
}

.tab {
    position: fixed;
    top: 5;
    width: 90%;
    visibility: hidden;
    opacity: 0;
}

.tab:target {
    visibility: visible;
    opacity: 100;
}

#home {
    position: fixed;
    top: 5;
    visibility: visible;
    opacity: 100;
}

.tab:target ~ #home {
    visibility: hidden;
    opacity: 0;
}

ul {
    display: inline-block;
    list-style: none;
    overflow: hidden;
}
li {
    display: block;
}
li.active::after {
    content: "+ ";
    color: red;
}
a {
    text-decoration: none;
    color: var(--border);
}

a:hover {
    color: red;
}

li.active a {
    color: red;
}
.theme {
    position: absolute;
    bottom: 5vh;
    background-color: rgb(0, 0, 0, 0);
    border: none;
}