@charset "utf-8";
/* CSS Document */
html {
	box-sizing: border-box;
}

body {
	box-sizing: border-box;
	vertical-align: baseline;
	background: #E0E0E0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif", "Arial Narrow";
	color: #353535;	
	font-size: 14pt;
	line-height: 1.75;
	letter-spacing: 0.05em;
	font-variant: small-caps;
}
.grid-2x1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.grid-3x2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 20px;
}