.lightbox {
    display: none;
    overflow: auto;
}

.lightbox:target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
    
}

.lightbox figcaption {
    max-width: 70vw;
    position: relative;
    background: #ededed;
	padding: 30px;
	border-radius: 10px;
    top: 4vw;
}

.lightbox .close {
    position: relative;
    display: block;
}

.lightbox .close::after {
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
    color: white;
    content: "×";
    cursor: pointer;
    top: 3vw;
}
.lightbox .close:hover::after {
    color: red;
}

.lightbox .close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    content: "";
    cursor: default;
}

.sublightbox {
    display: none;
    overflow: auto;
}

.sublightbox:target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.sublightbox:target ~ .lightbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.sublightbox figcaption {
    max-width: 65vw;
    position: relative;
    background: #ededed;
	padding: 30px;
	border-radius: 10px;
    z-index: 2;
    top: 4vw;
}

.sublightbox .close {
    position: relative;
    display: block;
}

.sublightbox .close::after {
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
    color: white;
    content: "×";
    cursor: pointer;
    z-index: 3;
    top: 3vw;
}

.sublightbox .close:hover::after {
    color: red;
}

.sublightbox .close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    content: "";
    cursor: default;
}

body {
	box-sizing: border-box;
	background: #E0E0E0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif", "Arial Narrow";
	color: #353535;	
	font-size: 14pt;
	line-height: 1.75;
	letter-spacing: 0.05em;
	font-variant: small-caps;
	padding: 40px;
	align-content: center;
	text-align: center;
}

.btn {
	background-color: #E0E0E0;
	color: #353535;
	border-radius: 10px;
	text-align: center;
	font-size: inherit;
	font-family: inherit;
	font-variant: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	padding: 10px;
	cursor: pointer;
	transition-duration: 0.5s;
}

.btn:hover {
	background-color: #353535;
	color: #E0E0E0;
}

section {
    background: #ededed;
	padding: 30px;
	border-radius: 10px;
}

.btns {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    background-color: #ededed;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

@media screen and (max-width: 800px) {
    .grid {
        grid-template-columns: repeat( 1, 1fr);
    }
}
